<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/style.css" >
    <link rel="stylesheet" href="/static/bootstrap.min.css" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Пользователи</title>
</head>
<body>

<div th:insert="fragment/navbar :: navbar"/>

<div id="content" class="container-fluid">

    <h3> Управление пользователями </h3>
    <a class="btn btn-primary mb-3" href="/users/user-create">
        Добавить пользователя</a>
    <table class="table table-sm table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Логин</th>
            <th scope="col"> Пароль</th>
            <th scope="col"> Имя</th>
            <th scope="col"> Фамилия</th>
            <th scope="col"> Роли пользователя</th>
            <th th:if="${#authentication.authorities.contains(admin)}" scope="col"> Редактировать / Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.isEmpty()}">
            <td align="center" colspan="6"><h3>Нет записей</h3></td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.username}"> </span></td>
            <td><span th:text="${user.password}"> </span></td>
            <td><span th:text="${user.name}">  </span></td>
            <td><span th:text="${user.surname}"></span></td>
            <td><span th:text="${user.roles}"></span></td>
            <!--<div sec:authorize="hasRole('ADMIN')">-->
            <td>
             <span th:if="${#authentication.authorities.contains(admin)}">
                 <a class="badge badge-danger" th:href="@{/users/user-update/{id}(id=${user.id})}">Редактировать</a>
                 <a class="badge badge-danger" th:href="@{/users/user-delete/{id}(id=${user.id})}">Удалить</a>
             </span>
            </td>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>