<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="/static/style.css" >
    <link rel="stylesheet" href="/static/bootstrap.min.css" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${line.name}"/>

</head>
<body>
<div th:insert="fragment/navbar :: navbar"/>
<div id="content" class="container-fluid">

    <h2 align="center" th:text="${line.name}"/>

    <div th:insert="fragment/filter :: filter"/>

    <a class="btn btn-primary mb-3" th:href="@{/lines/line/{id}/record-create(id=${line.id})}">Добавить запись</a>

    <div th:insert="fragment/table :: table (${line},${page})"/>
</div>
</body>
</html>
