<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Логин</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="content" class="container-fluid">
    <div class="login-form border">
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            Неверный логин или пароль.
        </div>
        <div class="alert alert-info" role="alert" th:if="${param.logout}">
            Вы вышли из системы.
        </div>
        <form th:action="@{/login}" method="post">
            <div align="center" class="form-group">
                <label>Логин: <input type="text" name="username"/></label>
            </div>
            <div align="center" class="form-group">
                <label>Пароль: <input type="password" name="password"/> </label>
            </div>
            <button align="center" type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</div>
<div th:insert="fragment/footer :: footer"/>
</body>
</html>