<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head >
    <title>Журнал</title>
    <link rel="stylesheet" href="/static/style.css" >
    <link rel="stylesheet" href="/static/bootstrap.min.css" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div th:insert="fragment/navbar :: navbar"/>
<div id="content" class="container-fluid">
    <div align="left" th:if="${#authentication.authorities.contains(admin)}">
        <a class="btn btn-primary ml-2 mb-2" th:href="@{/line-create}">Добавить линию</a>
    </div>
    <div class="row">
        <div class="col">
            <div th:if="${lines.isEmpty()}">
                <h4 class="alert alert-secondary" role="alert" align="center">Нет линий</h4>
            </div>
            <div class="list-group-item list-group-item-secondary m-2 p-2"
                 th:each="line : ${lines}">
                <h5>
                    <div class="row">
                        <div align="left" class="col">
                            <a th:href="@{/lines/line/{id}(id=${line.id})}" th:text="${line.name}"/>
                        </div>
                        <div align="right" class="col">
                            <a th:if="${#authentication.authorities.contains(admin)}" class="badge badge-primary"
                               th:href="@{/line-update/{id}(id=${line.id})}">Редактировать</a>
                            <a th:if="${#authentication.authorities.contains(admin)}" class="badge badge-primary"
                               th:href="@{/line-delete/{id}(id=${line.id})}">Удалить</a>
                        </div>
                    </div>
                </h5>
            </div>
        </div>
        <div class="col">
            <h5 th:if="${#authentication.authorities.contains(admin)}">
                <a class="list-group-item list-group-item-action list-group-item-primary m-2 p-3" th:href="@{/reports/report-for-time}">Отчет
                    за период</a>
            </h5>
            <h5 th:if="${#authentication.authorities.contains(admin)}">
                <a class="list-group-item list-group-item-action list-group-item-primary m-2 p-3" th:href="@{/reports/productivity}">Выработка</a>
            </h5>
        </div>
        <div class="col">
            <h5 th:if="${#authentication.authorities.contains(admin)}">
                <a class="list-group-item list-group-item-action list-group-item-primary m-2 p-3" th:href="@{/users}">Управление
                    пользователями</a>
            </h5>
        </div>
    </div>
</div>
<div th:insert="fragment/footer :: footer"/>
</body>
</html>