<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Журнал</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="fragment/navbar :: navbar"/>
<div id="content" class="container-fluid">
    <div class="row">
        <div class="col">
            <div th:if="${lines.isEmpty()}">
                <h4 class="alert alert-secondary m-2 p-3" role="alert" align="center">Нет линий</h4>
            </div>
            <div th:each="line : ${lines}">
                <h5>
                    <a class="list-group-item list-group-item-action list-group-item-primary m-2 p-3"
                       th:href="@{/lines/line/{id}(id=${line.id})}" th:text="${line.name}"/>
                </h5>
            </div>
        </div>
        <div class="col">
            <h5 th:if="${#authentication.authorities.contains(admin)}">
                <a class="list-group-item list-group-item-action list-group-item-primary m-2 p-3"
                   th:href="@{/reports/report-for-time}">Отчет
                    за период</a>
            </h5>
            <h5 th:if="${#authentication.authorities.contains(admin)}">
                <a class="list-group-item list-group-item-action list-group-item-primary m-2 p-3"
                   th:href="@{/reports/productivity}">Выработка</a>
            </h5>
        </div>
        <div class="col">
            <h5 th:if="${#authentication.authorities.contains(admin)}">
                <a class="list-group-item list-group-item-action list-group-item-primary m-2 p-3" th:href="@{/users}">Управление
                    пользователями</a>
            </h5>
            <h5 th:if="${#authentication.authorities.contains(admin)}">
                <a class="list-group-item list-group-item-action list-group-item-primary m-2 p-3" th:href="@{/lines}">Управление
                    линиями</a>
            </h5>
        </div>
    </div>
</div>
<div th:insert="fragment/footer :: footer"/>
</body>
</html>